body {
  font-family: helvetica, arial, sans-serif;
  margin-left:10px;
  box-sizing: border-box;
}

.cntr {
  width:600px;
  margin:0px;
  padding:0px;
  padding-left:20px;
  box-sizing: border-box;
}

h1 {
}

h2 {
}

h3 {
}

p {
}

a {
  color:darkblue;
}

a:visited {
  color:darkblue;
}
